*{
    box-sizing: border-box;
}
body {
    font-family: 'Courier New', Courier, monospace;
}

.contenedor{
    width: 1200px;
    height: auto
    background-color white;
    margin: 0 auto 0 auto 
}
.banner{
    height: 200px;
    background-image: url(scuderia/Ferrari-1200.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 0;
}
h1{
    text-align: center;
    font-size: 2em;
    color: #ff0000;
    margin-top: 0;
    margin-bottom: 0px;
}
.menu{
    height: 50px;

}
.btn{
    width: 300px;
    height: 50px;
    background-color: rgb(255, 0, 0);
    float: left;
    text-align: center;
    padding-top: 15px;
}
a .btn{
    color: rgb(255, 255, 255);
}

a .btn:hover{
    background-color: rgb(240, 226, 30);
    color: rgb(7, 7, 7);
}

.texto{
    height: 500px;
    background-color: #ffffff    ;
    padding: 70px;
    font-size: 18px;
    color: rgb(0, 136, 255);
    line-height: 150%;

}
.imagen{
    height: 400px;
    background-color:greenyellow;

}
.piedepagina{
    height: 100px;
    background-color: red;
    padding: 20px;
    padding: 20px 0 0 20px;

}
.redes{
    width: 50px;
    height: auto;
    float: right; 
    margin-right: 20px;
}

.autora{
    width: 560px;
}

.subpie{
    width: 560px;
    height: auto;
    display: block;
}

.subpie-img{
    width: 560px;
    display: block;
}

.img-footer{
    width: 50px;
}

.texto {
    color: #333;
    background-color: #f9f9f9; 
    padding: 20px; 
    line-height: 1.6; 
    border-radius: 10px;
}

.texto p {
    margin-bottom: 20px;
}

.titulo {
    text-align: center;
}
.piloto {
    display: flex; 
    justify-content: space-evenly;
    padding: 10px; 
    border-radius: 10px;
    background: rgba(255,0,0,0.5);
    backdrop-filter: blur(10px);
}
.piloto p {
    padding: 10px;
    flex: 1;
}

.piloto img {
    width: 200px; 
    height: auto; 
    border-radius: 10px;
}

.piloto:nth-child(even) {
    background-color: #f0f0f0;
}


.objeto {
    position: relative; 
}

.mercancia {
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.objeto img {
    width: 100%;
    height: auto;
}
.objeto .descripcion {
    position: absolute; 
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0; 
    transition: opacity 0.5s;
    padding: 10px;
}

.objeto:hover .descripcion {
    opacity: 1;
}

.objeto:hover img {
    filter: blur(2px);
}


.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
}

.galeria img {
    width: 100%;
    height: auto;
}
